.column1 {

  float:left;
  width:100%;
  padding: 30px;
  border:30px dashed green;
  background-color:blue;
  box-sizing:border-box;
  margin: 0 auto;
  display: block;
}

.column2 {

  float:left;
  width:100%;
  padding: 30px;
  border:30px dashed white;
  background-color:red;
  box-sizing:border-box;
  margin: 0 auto;
  display: block;
}

.column3 {

  float:left;
  margin: 0 auto;
  width:100%;
  padding: 30px;
  border:30px dashed yellow;
  background-color:goldenrod;
  box-sizing:border-box;
  display: block;
}

section {
  display: grid;
  justify-content: center;
  align-content: center;

  gap: 4px;
  grid-auto-flow: column;
}

img {
  width:200px;
  height:180px;
  float:none;
}

body {
  text-align:center;
}
