.column1 {

  float:left;
  width:30%;
  padding: 30px;
  border:30px dashed green;
  background-color:blue;
  box-sizing:border-box;
  margin: 0 auto;
  display: block;
}

.column2 {

  float:left;
  width:30%;
  padding: 30px;
  border:30px dashed white;
  background-color:red;
  box-sizing:border-box;
  margin: 0 auto;
  display: block;
}

.column3 {

  float:left;
  margin: 0 auto;
  width:30%;
  padding: 30px;
  border:30px dashed yellow;
  background-color:goldenrod;
  box-sizing:border-box;
  display: block;
}


img {
  width:200px;
  height:180px;
  float:none;
}

body {
  text-align:center;
}
